<form id="admin" action="/product-update" method="POST">
    <input id="adminPass" name="adminpass" type="password" placeholder="Enter Password"/>
    <input class="adminSubmit" type="submit" value="Login"/>
</form>