<title>Password Reset</title>
<div id="formBox">
            <div class="row-fluid"  id="myForm">
                <form method="POST" action="/resmail">
                    <fieldset> 
                        <legend>Reset Password</legend> <br /> <br />
                        <input type="text" id="resetEmail" name="resetEmail" placeholder="Enter your E-Mail Address" /><br /><br /> <br />
                        <input type="submit" id="resmail" value="Submit" />
                    </fieldset>
                </form>
            </div> 
        </div>  