<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
   <head>
       {%load static%}
       <meta name="viewport" content="width=device-width, initial-scale=1.0" />
       <link rel="stylesheet" href="{%static 'dxlApp/Dxl_Main_Style.css' %}" />
       <link rel="stylesheet" href="{% static 'dxlApp/bootstrap.min.css' %}" />
       <script type="text/javascript" src="{% static 'dxlApp/jquery-3.6.0.js' %}"></script>
       <link rel="stylesheet" href="{% static 'dxlApp/showcaserow.css' %}" />
       <link rel="stylesheet" href="{% static 'dxlApp/footer.css' %}" />
        <meta name= 'csrfmiddlewaretoken' content= '{% csrf_token %}'/>
       <title>DE-EXTRALUCID TECH WORLD PLC</title>
   </head> 
    <!-- The body section begins here -->
        <body class="myBody">
            <div id=navBar class="navbar">
                <div class="brand logo">
                    <img alt="Company Logo" id="logo" src="{% static 'dxlApp/Dxl Tech logo Transparent.png' %}"/>
                </div>
                <div id="headcon">
                    <div><a href="{% url 'index' %}">Home</a></div>
                    <div><a href="#">About</a></div>
                    <div><a href="#">Our Services</a></div>
                    <div><a href="#">Our Products</a></div>
                    <div> <a href="{% url 'registration' %}">Subscribe for Voucher</a></div>
                    <div> <a href="#">Careers</a> </div>
                    
                    
                    
                </div> 
                <a href="carttable/" style="text-decoration: none;">
                <div id="cart">                                 
                    </div>
                </a>
                
                <div id="iconImg">
                    <a href="{% url 'login' %}">
                    <img alt="User Icon" id="uIcon" src="{% static 'dxlApp/User_Icon.png' %}" />
                </a>
            </div>
        </div>
        <div id="SocialMedia">
            <div id="facebook">
                <a href="https://www.facebook.com"><img src="{% static 'dxlApp/Icons/Facebook_Icon.png' %}" id="fbIcon" /></a>
            </div>
            <div id="Whatsapp">
                <a href="#"><img src="{% static 'dxlApp/Icons/WhatsApp_Icon.png' %}" id="WaApIcon" /></a>
            </div>
            <div id="Instagram">
                <a href="#"><img src="{% static 'dxlApp/Icons/Instagram_Icon.png' %}" id="InstIcon" /></a>
            </div>
            <div id="twitter">
                <a href="#"><img src="{% static 'dxlApp/Icons/Twitter_Icon.png' %}" id="twitIcon" /></a>
            </div>
            <div id="youtube">
                <a href="#"><img src="{% static 'dxlApp/Icons/YouTube.png' %}" id="yutuIcon" /></a>
            </div>
        </div>           
            {% block content %}
            {% csrf_token %}
            {% endblock %}
        <div class="chatBox">
            <span class='close' id='xChat'>&times;</span>
            <div id="msgVal"></div>
                    <div id="chInput">
                        <input type="text" name="msg" id="msg" /> <input type="submit" action="/chat" method="POST" id="send" value="Send" />                       </div>  
                    </div>
                </div>
                     <!--Chat Box Ends Here-->
            
           
            <div id='revChat'>
                <p id="showChat">Show Chat</p>
            </div>

                 
            <div style="margin-top:2100px;"></div>
        <footer class="footer">
           <p class="footerFirst">De-Extralucid Tech World Plc., &copy; 2022.</p>
           <p>All rights reserved.</p>
        </footer>
                <script type="text/javascript" src="{% static 'dxlApp/Dxl_Main_Script.js' %}"></script>
                <script type="text/javascript" src="{% static 'dxlApp/Dxl_jQuery.js' %}"></script>
                <script type="text/javascript" src="{% static 'dxlApp/bootstrap.min.js' %}"></script>
                <script type="text/javascript" src="{% static 'dxlApp/DxlCart.js' %}"></script>
                <script type="text/javascript" src="{% static 'dxlApp/prodUpdate.js' %}"></script>
        </body> 
</html>